*{width: 100%;
height: auto;
}

html {
    min-height: 100%;
    background-image: url(https://wallpapercave.com/wp/Z0qsiGu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

 }

body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.75;

}

.t h1{
    color: yellow;
    font-weight: 900;
    font-family: Avantgarde, TeX Gyre Adventor, URW GothicL, sans-serif;
    font-size: 60px;
    text-align: center;
}

.screen{
    width: 80%;
}

.screen img{
    width: 100%;
}

.screen .screen-text{
    width: 96%;
    position: relative;
    margin-top: -30%;

}

.screen .screen-text h1{
    text-align: end;
    color: black;
    font-size: 10vw;
}

.buttons{
    width: 80%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    opacity: 1;
}

.buttons button{
    font-size: 40px;
    font-weight: 900;
    margin: 0.5%;
    flex-basis: 24%;
    height: 100px;
}